[submodule "Hovel/vendor/spdlog"]
	path = Hovel/vendor/spdlog
	url = https://github.com/gabime/spdlog
    branch = v1.x
[submodule "Hovel/vendor/GLFW"]
	path = Hovel/vendor/GLFW
	url = https://github.com/TheCherno/glfw
    branch = master
[submodule "Hovel/vendor/imgui"]
	path = Hovel/vendor/imgui
	url = https://github.com/TheCherno/imgui
    branch = docking
[submodule "Hovel/vendor/glm"]
	path = Hovel/vendor/glm
	url = https://github.com/g-truc/glm
    branch = master
